*{
    top: 0;
    margin: 0%;
}
section{
    background-color: #081023; 
    height: 100vh;
}
section h1{
    display: flex;
    justify-content: center;
}
#secH1{
    font-size: 2em;
}
.firstDiv{
    padding-top: 100px;
}
#innerFirstDiv{
    background-color: #3d3159;
    height: 50vh;
    width: 40%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(134, 116, 116, 0.4);
}
.innerFirstDiv{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 70px;
}
.secondDiv{
    background-color: #3d3054;
    height: 20vh;
    width: 60%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(134, 116, 116, 0.4);
}

#innerSecondDiv{
    display: flex;
    gap: 50px;
    justify-content: center;
    padding-top: 35px;
}
.innerSecondDiv{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.botton{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 30px;
}
input{
    border: 0; 
    outline: none; 
    width: 12%; 
    height: 70px; 
    border-radius: 50%; 
    font-size: 3em;
}
h1{
    font-size: 4em;
}
h3{
    color: white;
}
h1{
    color: white;
}
button{
    font-size: 1.5em;
    background-color: #d8676d;
    color: white;
    border: none;
}
@media all and (min-width:320px) and (max-width:425px){
    section h1{
        padding-top: 50px;
    }
    #secH1{
        font-size: 1.5em;
    }
    #innerFirstDiv{
        height: 40vh;
        width: 70%;
    }
    .innerFirstDiv{
        gap: 10px;
        padding-top: 70px;
    }
    .innerSecondDiv{
        gap: 35px;
    }
    input{
        width: 15%; 
        height: 40px; 
        font-size: 1.5em;
    }
    .secondDiv{
        height: 10vh;
        width: 80%;
        margin-top: 70px;
    }
    .botton{
        flex-direction: column;
        margin-top: 80px;
        width: 50%;
        margin-left: 70px;
    }
    button{
        font-size: 1.2em;
    }
    #innerSecondDiv{
        gap: 20px;
        padding-top: 0px;
    }
    h1{
        font-size: 3em;
    }
}
@media all and (min-width:426px) and (max-width:768px){
    section h1{
        padding-top: 50px;
    }
    #secH1{
        font-size: 2em;
    }
    #innerFirstDiv{
        height: 50vh;
        width: 50%;
    }
    .innerFirstDiv{
        padding-top: 100px;
        gap: 50px;
    }
    .innerSecondDiv{
        gap: 60px;
    }
    input{
        width: 14%; 
    }
    .secondDiv{
        height: 16vh;
        width: 75%;
    }
    #innerSecondDiv{
        padding-top: 0px;
    }
    .botton{
        flex-direction: column;
        margin-top: 80px;
        width: 40%;
        margin-left: 125px;
    }
    button{
        font-size: 1.2em;
    }
    h1{
        font-size: 3.5em;
    }
}